git-bucket/lookup-table.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "e04d3a42-0654-3612-859c-974979c2b466",
            "name" : "LookupRecord_SimpleKV",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "bb6805c8-1238-3734-a242-79a53afc40d4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "cd1ad84a-e8b3-3361-92c1-f656c06cb39c",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "ac3fbb1f-b400-3e92-961c-e98d541c21b4",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "d341def4-08b7-38ba-90c4-b95b0ea80a22",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "e04d3a42-0654-3612-859c-974979c2b466",
            "name" : "LookupRecord_SimpleKV",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "891d5d11-9bb6-3bf3-824c-a78bbbf39560",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "0aad79d1-b66c-3841-9537-a89f0fb510d1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "e04d3a42-0654-3612-859c-974979c2b466",
            "name" : "LookupRecord_SimpleKV",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "ae4a17f6-dd6b-3e2d-8fb1-17cbe61b9c34",
            "name" : "PutSolrContentStream",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "8ff828f9-6dc8-35d4-b320-7c1ea024265d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "891d5d11-9bb6-3bf3-824c-a78bbbf39560",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "dd469c1a-92ac-380c-8214-2b3542a2b15d",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "3038b8c8-fdd8-3638-bff5-2c60a261ca73",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
            "id" : "e04d3a42-0654-3612-859c-974979c2b466",
            "name" : "LookupRecord_SimpleKV",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-lookup-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.lookup.RecordLookupService"
          } ],
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "db0287da-8d5b-3c3c-b49f-d47681548be4",
          "name" : "RestLookupService",
          "properties" : {
            "rest-lookup-digest-auth" : "false",
            "rest-lookup-connection-timeout" : "5 secs",
            "rest-lookup-read-timeout" : "15 secs"
          },
          "propertyDescriptors" : {
            "rest-lookup-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "rest-lookup-record-reader",
              "sensitive" : false
            },
            "rest-lookup-basic-auth-username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-basic-auth-username",
              "sensitive" : false
            },
            "rest-lookup-digest-auth" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-digest-auth",
              "sensitive" : false
            },
            "rest-lookup-connection-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-connection-timeout",
              "sensitive" : false
            },
            "rest-lookup-url" : {
              "displayName" : "URL",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-url",
              "sensitive" : false
            },
            "rest-lookup-ssl-context-service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "rest-lookup-ssl-context-service",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "rest-lookup-basic-auth-password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-basic-auth-password",
              "sensitive" : true
            },
            "rest-lookup-record-path" : {
              "displayName" : "Record Path",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-record-path",
              "sensitive" : false
            },
            "rest-lookup-read-timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "rest-lookup-read-timeout",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.lookup.RestLookupService"
        }, {
          "bundle" : {
            "artifact" : "nifi-lookup-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.lookup.StringLookupService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          } ],
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "759d5b5a-5f53-3cbf-98b5-19129d3655b3",
          "name" : "SimpleKeyValueLookupService",
          "properties" : {
            "1" : "paris",
            "2" : "lille",
            "3" : "marseille",
            "4" : "toulouse",
            "5" : "nice"
          },
          "propertyDescriptors" : {
            "1" : {
              "displayName" : "1",
              "identifiesControllerService" : false,
              "name" : "1",
              "sensitive" : false
            },
            "2" : {
              "displayName" : "2",
              "identifiesControllerService" : false,
              "name" : "2",
              "sensitive" : false
            },
            "3" : {
              "displayName" : "3",
              "identifiesControllerService" : false,
              "name" : "3",
              "sensitive" : false
            },
            "4" : {
              "displayName" : "4",
              "identifiesControllerService" : false,
              "name" : "4",
              "sensitive" : false
            },
            "5" : {
              "displayName" : "5",
              "identifiesControllerService" : false,
              "name" : "5",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.lookup.SimpleKeyValueLookupService"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "58a8eb1f-6e8d-37c7-bbdc-1be3a4462eb7",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "true",
            "compression-format" : "none",
            "Schema Write Strategy" : "full-schema-attribute",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "\"store\"",
            "schema-access-strategy" : "schema-text-property",
            "schema-text" : "{\n\t\"namespace\": \"nifi\",\n\t\"name\": \"store_event\",\n\t\"type\": \"record\",\n\t\"fields\": [\n\t\t{ \"name\": \"created_at\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_store\", \"type\": \"int\" },\n\t\t{ \"name\": \"event_type\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_transaction\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_product\", \"type\": \"int\" },\n\t\t{ \"name\": \"value_product\", \"type\": \"int\" },\n\t\t{ \"name\": \"city\", \"type\": \"string\" }\n\t]\n}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "69b379d3-d9d7-3287-94af-46c2f995fb62",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "schema-text-property",
            "schema-text" : "{\n\t\"namespace\": \"nifi\",\n\t\"name\": \"store_event\",\n\t\"type\": \"record\",\n\t\"fields\": [\n\t\t{ \"name\": \"created_at\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_store\", \"type\": \"int\" },\n\t\t{ \"name\": \"event_type\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_transaction\", \"type\": \"string\" },\n\t\t{ \"name\": \"id_product\", \"type\": \"int\" },\n\t\t{ \"name\": \"value_product\", \"type\": \"int\" }\n\t]\n}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "ac3fbb1f-b400-3e92-961c-e98d541c21b4",
          "position" : {
            "x" : 1128.0,
            "y" : 304.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "dd469c1a-92ac-380c-8214-2b3542a2b15d",
          "position" : {
            "x" : 1128.0,
            "y" : -56.0
          }
        } ],
        "identifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Lookup Table",
        "outputPorts" : [ ],
        "position" : {
          "x" : 2400.0,
          "y" : 496.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "aa0890fd-ad7d-3923-b213-f20aaa3881eb",
              "name" : "PutEmail",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "181f6fb6-5587-31f0-9a79-01bfef600386",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "ERROR", "FATAL" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "46425880-1cfe-31a1-82d0-2ce2c3b6efca",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "2bd3cbcf-50cc-3bff-8223-f044422dca5d",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "0e581e8f-2def-3e39-a2ed-5d1d33b52b99",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "690860f9-e22b-3303-bcb6-0ebc5b5c8c7e",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "d797f725-af9f-36e4-be89-1a15bda4d6dd",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "0770462e-724a-3937-921b-1dadd7582bc2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "010f2cfd-ffeb-3710-bcf3-048f8d69612f",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "13aebb61-4fbf-3d56-8a42-45b92be4b013",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "c8cb7b6b-57bc-3637-8f2e-c96433a6be17",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "c40dd432-1aad-379b-b002-1937c7508473",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "c40dd432-1aad-379b-b002-1937c7508473",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "e01f83a2-2bc5-3679-9aae-2ebe3e7e2a1f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "ef961e16-dd53-3855-8b01-9141944c1768",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "ef961e16-dd53-3855-8b01-9141944c1768",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "62cf6dfe-c8c2-3b05-9bcc-23da19d01cf7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "a2e4757b-c106-37cf-931d-209dd7c2ffd1",
              "name" : "TailFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "ef4f6c39-7593-37b2-bec3-7abca510a051",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "bee628f5-3532-34fb-b9a9-db29b21fbfba",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "output stream" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "2bd3cbcf-50cc-3bff-8223-f044422dca5d",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "010f2cfd-ffeb-3710-bcf3-048f8d69612f",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "94c28b35-a878-346e-9477-f1fc796064e9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "ERROR", "INFO", "DEBUG", "FATAL", "WARN" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "46425880-1cfe-31a1-82d0-2ce2c3b6efca",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "e6368975-47d2-3168-9f2c-88a072fb5670",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "04e3cb27-4b40-3194-ba5a-92233d3ad558",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "d797f725-af9f-36e4-be89-1a15bda4d6dd",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "48a014ec-f853-387e-a95f-032d0428ae69",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "92281531-30cf-3650-ab89-0186b9167514",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "nonzero status" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "fcd03b66-c815-3144-9da7-f60915b38c17",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "fcd03b66-c815-3144-9da7-f60915b38c17",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "9fa78d9d-f220-34ff-8f3c-e1b79c4cbda8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "13aebb61-4fbf-3d56-8a42-45b92be4b013",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "46425880-1cfe-31a1-82d0-2ce2c3b6efca",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "3d7337d3-aaf9-3034-9f6d-188d1165cd66",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "output stream" ],
            "source" : {
              "comments" : "",
              "groupId" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
              "id" : "fcd03b66-c815-3144-9da7-f60915b38c17",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ ],
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
          "inputPorts" : [ ],
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 66.30945587158203,
            "identifier" : "02f7714a-2ca7-3098-8356-765bf937b6ce",
            "label" : "arguments : \npython file; flow_file_content; pickle_file",
            "position" : {
              "x" : 1093.0941505618227,
              "y" : 2087.5271554992246
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 358.35801696777344
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 40.64632034301758,
            "identifier" : "c16acd7b-466e-358d-9d6a-f2dc30a027ab",
            "label" : "                             Trigger alerts and capture logs in real time",
            "position" : {
              "x" : 920.4525947756899,
              "y" : 847.0227457091855
            },
            "style" : {
              "background-color" : "#b0ffff",
              "font-size" : "24px"
            },
            "width" : 879.6284637451172
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 40.64632034301758,
            "identifier" : "0a2ba2d2-53d3-36bf-a854-d9bf7ad5442f",
            "label" : "                             Write the my_app processors id list to the pickle file",
            "position" : {
              "x" : 871.0293770022524,
              "y" : 174.00001011348218
            },
            "style" : {
              "background-color" : "#b0ffff",
              "font-size" : "24px"
            },
            "width" : 879.6284637451172
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 50.99999237060547,
            "identifier" : "4dee38f6-2bf1-3531-b441-0d7f8a2cf926",
            "label" : "simulate the sample logs for testing",
            "position" : {
              "x" : 640.7202339358462,
              "y" : 1084.8495889709043
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 342.99998474121094
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 102.97454833984375,
            "identifier" : "95fd6d33-e276-3baa-8378-45bddda26271",
            "label" : "Writes the list of file processor ids to pickle file \nwhich is specific to your app.\nNote: Don't edit that pickle file, \nit will have some serialized data",
            "position" : {
              "x" : 876.7917671389712,
              "y" : 627.230631451373
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 357.0485382080078
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 48.000003814697266,
            "identifier" : "b664539a-6233-3b17-9380-d2a8b71fce7d",
            "label" : "give hadoop resources path and\nHDFS directory to keep the nifi parsed logs",
            "position" : {
              "x" : 2591.025043506159,
              "y" : 2421.879679302935
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 346.0000305175781
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 51.999996185302734,
            "identifier" : "685cccf9-87a3-38c0-b375-df04c06884d1",
            "label" : "tailFile is scheduled to run on every 10 secs,\nyou can change this based on requirement",
            "position" : {
              "x" : 1462.4526558108462,
              "y" : 937.0227457091855
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 334.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 89.87987518310547,
            "identifier" : "aea2b221-2800-3bd2-afb5-4e1115352945",
            "label" : "check the queue file to \nget the list of processor id's and \nprocessor names",
            "position" : {
              "x" : 1600.0,
              "y" : 632.0
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 354.42958068847656
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 48.000003814697266,
            "identifier" : "6c6fb563-ecf8-377d-8f0d-4d9e75405c37",
            "label" : "logs which is not specific to your app will \nget killed here",
            "position" : {
              "x" : 1689.4527778811587,
              "y" : 1865.0229898498105
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 346.0000305175781
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 48.000003814697266,
            "identifier" : "e0febf8f-5b72-31ec-8c6f-32d53367c6a8",
            "label" : "mergeContent runs every 2 mins or\nif the flowfile entries reach 1000",
            "position" : {
              "x" : 2030.4527778811587,
              "y" : 2389.0228677794976
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 346.0000305175781
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 42.76213455200195,
            "identifier" : "4b309bb4-41a1-3536-bd19-5922a6b6ed40",
            "label" : "change user credentials",
            "position" : {
              "x" : 1334.7071724124087,
              "y" : 2381.0734048888726
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 340.7621765136719
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "height" : 66.30945587158203,
            "identifier" : "b0b94c63-0acd-3e1f-ac7f-186e8030aecf",
            "label" : "arguments : \npython file; root_processor_group_id; pickle_file",
            "position" : {
              "x" : 487.99998857451806,
              "y" : 484.6187540099668
            },
            "style" : {
              "font-size" : "16px"
            },
            "width" : 358.35801696777344
          } ],
          "name" : "Automated Log Processing",
          "outputPorts" : [ ],
          "position" : {
            "x" : 2912.0,
            "y" : 488.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "aa0890fd-ad7d-3923-b213-f20aaa3881eb",
            "name" : "PutEmail",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1332.2405440725638,
              "y" : 2225.5949511779336
            },
            "properties" : {
              "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
              "Message" : "There is an ${RouteOnContent.Route} in the Nifi flow. Please find the below message for more details",
              "Attach File" : "false",
              "SMTP Port" : "465",
              "SMTP Auth" : "true",
              "From" : "asdf",
              "Include All Attributes In Message" : "false",
              "SMTP Hostname" : "smtp.gmail.com",
              "Subject" : "${RouteOnContent.Route} - In Nifi Pipeline",
              "SMTP X-Mailer Header" : "NiFi",
              "Content Type" : "text/plain",
              "email-ff-content-as-message" : "true",
              "SMTP TLS" : "false"
            },
            "propertyDescriptors" : {
              "CC" : {
                "displayName" : "CC",
                "identifiesControllerService" : false,
                "name" : "CC",
                "sensitive" : false
              },
              "SMTP Socket Factory" : {
                "displayName" : "SMTP Socket Factory",
                "identifiesControllerService" : false,
                "name" : "SMTP Socket Factory",
                "sensitive" : false
              },
              "BCC" : {
                "displayName" : "BCC",
                "identifiesControllerService" : false,
                "name" : "BCC",
                "sensitive" : false
              },
              "Message" : {
                "displayName" : "Message",
                "identifiesControllerService" : false,
                "name" : "Message",
                "sensitive" : false
              },
              "Attach File" : {
                "displayName" : "Attach File",
                "identifiesControllerService" : false,
                "name" : "Attach File",
                "sensitive" : false
              },
              "attribute-name-regex" : {
                "displayName" : "Attributes to Send as Headers (Regex)",
                "identifiesControllerService" : false,
                "name" : "attribute-name-regex",
                "sensitive" : false
              },
              "SMTP Port" : {
                "displayName" : "SMTP Port",
                "identifiesControllerService" : false,
                "name" : "SMTP Port",
                "sensitive" : false
              },
              "SMTP Auth" : {
                "displayName" : "SMTP Auth",
                "identifiesControllerService" : false,
                "name" : "SMTP Auth",
                "sensitive" : false
              },
              "From" : {
                "displayName" : "From",
                "identifiesControllerService" : false,
                "name" : "From",
                "sensitive" : false
              },
              "Include All Attributes In Message" : {
                "displayName" : "Include All Attributes In Message",
                "identifiesControllerService" : false,
                "name" : "Include All Attributes In Message",
                "sensitive" : false
              },
              "SMTP Hostname" : {
                "displayName" : "SMTP Hostname",
                "identifiesControllerService" : false,
                "name" : "SMTP Hostname",
                "sensitive" : false
              },
              "Subject" : {
                "displayName" : "Subject",
                "identifiesControllerService" : false,
                "name" : "Subject",
                "sensitive" : false
              },
              "SMTP X-Mailer Header" : {
                "displayName" : "SMTP X-Mailer Header",
                "identifiesControllerService" : false,
                "name" : "SMTP X-Mailer Header",
                "sensitive" : false
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "SMTP Username" : {
                "displayName" : "SMTP Username",
                "identifiesControllerService" : false,
                "name" : "SMTP Username",
                "sensitive" : false
              },
              "To" : {
                "displayName" : "To",
                "identifiesControllerService" : false,
                "name" : "To",
                "sensitive" : false
              },
              "SMTP Password" : {
                "displayName" : "SMTP Password",
                "identifiesControllerService" : false,
                "name" : "SMTP Password",
                "sensitive" : true
              },
              "email-ff-content-as-message" : {
                "displayName" : "Flow file content as message",
                "identifiesControllerService" : false,
                "name" : "email-ff-content-as-message",
                "sensitive" : false
              },
              "SMTP TLS" : {
                "displayName" : "SMTP TLS",
                "identifiesControllerService" : false,
                "name" : "SMTP TLS",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutEmail",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "ef961e16-dd53-3855-8b01-9141944c1768",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1092.6214622683653,
              "y" : 1179.6332193419978
            },
            "properties" : {
              "Remove Trailing Newlines" : "true",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "c40dd432-1aad-379b-b002-1937c7508473",
            "name" : "ExtractText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1089.7426020999085,
              "y" : 1424.753356060748
            },
            "properties" : {
              "Enable Unicode Predefined Character Classes" : "false",
              "Permit Whitespace and Comments in Pattern" : "false",
              "Enable Unicode-aware Case Folding" : "false",
              "Enable DOTALL Mode" : "false",
              "Enable Unix Lines Mode" : "false",
              "flowfile_data" : "(.+)",
              "Maximum Buffer Size" : "2 MB",
              "Enable Canonical Equivalence" : "false",
              "Enable Case-insensitive Matching" : "false",
              "Enable Multiline Mode" : "false",
              "Maximum Capture Group Length" : "2048",
              "Enable Literal Parsing of the Pattern" : "false",
              "Character Set" : "UTF-8",
              "Include Capture Group 0" : "true",
              "extract-text-enable-repeating-capture-group" : "false"
            },
            "propertyDescriptors" : {
              "Enable Unicode Predefined Character Classes" : {
                "displayName" : "Enable Unicode Predefined Character Classes",
                "identifiesControllerService" : false,
                "name" : "Enable Unicode Predefined Character Classes",
                "sensitive" : false
              },
              "Permit Whitespace and Comments in Pattern" : {
                "displayName" : "Permit Whitespace and Comments in Pattern",
                "identifiesControllerService" : false,
                "name" : "Permit Whitespace and Comments in Pattern",
                "sensitive" : false
              },
              "Enable Unicode-aware Case Folding" : {
                "displayName" : "Enable Unicode-aware Case Folding",
                "identifiesControllerService" : false,
                "name" : "Enable Unicode-aware Case Folding",
                "sensitive" : false
              },
              "Enable DOTALL Mode" : {
                "displayName" : "Enable DOTALL Mode",
                "identifiesControllerService" : false,
                "name" : "Enable DOTALL Mode",
                "sensitive" : false
              },
              "Enable Unix Lines Mode" : {
                "displayName" : "Enable Unix Lines Mode",
                "identifiesControllerService" : false,
                "name" : "Enable Unix Lines Mode",
                "sensitive" : false
              },
              "flowfile_data" : {
                "displayName" : "flowfile_data",
                "identifiesControllerService" : false,
                "name" : "flowfile_data",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Enable Canonical Equivalence" : {
                "displayName" : "Enable Canonical Equivalence",
                "identifiesControllerService" : false,
                "name" : "Enable Canonical Equivalence",
                "sensitive" : false
              },
              "Enable Case-insensitive Matching" : {
                "displayName" : "Enable Case-insensitive Matching",
                "identifiesControllerService" : false,
                "name" : "Enable Case-insensitive Matching",
                "sensitive" : false
              },
              "Enable Multiline Mode" : {
                "displayName" : "Enable Multiline Mode",
                "identifiesControllerService" : false,
                "name" : "Enable Multiline Mode",
                "sensitive" : false
              },
              "Maximum Capture Group Length" : {
                "displayName" : "Maximum Capture Group Length",
                "identifiesControllerService" : false,
                "name" : "Maximum Capture Group Length",
                "sensitive" : false
              },
              "Enable Literal Parsing of the Pattern" : {
                "displayName" : "Enable Literal Parsing of the Pattern",
                "identifiesControllerService" : false,
                "name" : "Enable Literal Parsing of the Pattern",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Include Capture Group 0" : {
                "displayName" : "Include Capture Group 0",
                "identifiesControllerService" : false,
                "name" : "Include Capture Group 0",
                "sensitive" : false
              },
              "extract-text-enable-repeating-capture-group" : {
                "displayName" : "Enable repeating capture group",
                "identifiesControllerService" : false,
                "name" : "extract-text-enable-repeating-capture-group",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExtractText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "13aebb61-4fbf-3d56-8a42-45b92be4b013",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1092.6225923342836,
              "y" : 1694.0332730529356
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "content" : "${flowfile_data}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "content" : {
                "displayName" : "content",
                "identifiesControllerService" : false,
                "name" : "content",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "690860f9-e22b-3303-bcb6-0ebc5b5c8c7e",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 883.3600068850658,
              "y" : 232.11854038691968
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "0B",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "100000 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "a2e4757b-c106-37cf-931d-209dd7c2ffd1",
            "name" : "TailFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1089.45259477569,
              "y" : 939.0227457091855
            },
            "properties" : {
              "tailfile-recursive-lookup" : "false",
              "File Location" : "Local",
              "tailfile-maximum-age" : "24 hours",
              "File to Tail" : "C:\\\\Users\\\\karthikeyan.siva\\\\Downloads\\\\softwares_downloaded\\\\nifi-1.7.1-bin\\\\nifi-1.7.1\\\\logs\\\\nifi-app.log",
              "Initial Start Position" : "Beginning of File",
              "tailfile-lookup-frequency" : "10 minutes",
              "tail-mode" : "Single file"
            },
            "propertyDescriptors" : {
              "tail-base-directory" : {
                "displayName" : "Base directory",
                "identifiesControllerService" : false,
                "name" : "tail-base-directory",
                "sensitive" : false
              },
              "tailfile-recursive-lookup" : {
                "displayName" : "Recursive lookup",
                "identifiesControllerService" : false,
                "name" : "tailfile-recursive-lookup",
                "sensitive" : false
              },
              "File Location" : {
                "displayName" : "State Location",
                "identifiesControllerService" : false,
                "name" : "File Location",
                "sensitive" : false
              },
              "tailfile-maximum-age" : {
                "displayName" : "Maximum age",
                "identifiesControllerService" : false,
                "name" : "tailfile-maximum-age",
                "sensitive" : false
              },
              "Rolling Filename Pattern" : {
                "displayName" : "Rolling Filename Pattern",
                "identifiesControllerService" : false,
                "name" : "Rolling Filename Pattern",
                "sensitive" : false
              },
              "File to Tail" : {
                "displayName" : "File(s) to Tail",
                "identifiesControllerService" : false,
                "name" : "File to Tail",
                "sensitive" : false
              },
              "Initial Start Position" : {
                "displayName" : "Initial Start Position",
                "identifiesControllerService" : false,
                "name" : "Initial Start Position",
                "sensitive" : false
              },
              "tailfile-lookup-frequency" : {
                "displayName" : "Lookup frequency",
                "identifiesControllerService" : false,
                "name" : "tailfile-lookup-frequency",
                "sensitive" : false
              },
              "tail-mode" : {
                "displayName" : "Tailing mode",
                "identifiesControllerService" : false,
                "name" : "tail-mode",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "10 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TailFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "010f2cfd-ffeb-3710-bcf3-048f8d69612f",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2028.2404342092823,
              "y" : 2242.394853521685
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Bin-Packing Algorithm",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "1000",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Filename",
              "Merge Format" : "Binary Concatenation",
              "Max Bin Age" : "2 mins",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "10"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "identifiesControllerService" : false,
                "name" : "Header File",
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "46425880-1cfe-31a1-82d0-2ce2c3b6efca",
            "name" : "RouteOnContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1688.7825337405327,
              "y" : 1934.5132193419986
            },
            "properties" : {
              "Content Buffer Size" : "1 MB",
              "Match Requirement" : "content must contain match",
              "ERROR" : "ERROR",
              "INFO" : "INFO",
              "Character Set" : "UTF-8",
              "DEBUG" : "DEBUG",
              "FATAL" : "FATAL",
              "WARN" : "WARN"
            },
            "propertyDescriptors" : {
              "Content Buffer Size" : {
                "displayName" : "Content Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Content Buffer Size",
                "sensitive" : false
              },
              "Match Requirement" : {
                "displayName" : "Match Requirement",
                "identifiesControllerService" : false,
                "name" : "Match Requirement",
                "sensitive" : false
              },
              "ERROR" : {
                "displayName" : "ERROR",
                "identifiesControllerService" : false,
                "name" : "ERROR",
                "sensitive" : false
              },
              "INFO" : {
                "displayName" : "INFO",
                "identifiesControllerService" : false,
                "name" : "INFO",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "DEBUG" : {
                "displayName" : "DEBUG",
                "identifiesControllerService" : false,
                "name" : "DEBUG",
                "sensitive" : false
              },
              "FATAL" : {
                "displayName" : "FATAL",
                "identifiesControllerService" : false,
                "name" : "FATAL",
                "sensitive" : false
              },
              "WARN" : {
                "displayName" : "WARN",
                "identifiesControllerService" : false,
                "name" : "WARN",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "e6368975-47d2-3168-9f2c-88a072fb5670",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 3045.2461078440674,
              "y" : 2265.6612624889403
            },
            "properties" : {
              "log-message" : "File moved to HDFS directory",
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-hadoop-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "d797f725-af9f-36e4-be89-1a15bda4d6dd",
            "name" : "PutHDFS",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2590.09712602569,
              "y" : 2265.805979351763
            },
            "properties" : {
              "Hadoop Configuration Resources" : "/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml,/etc/hadoop/conf/yarn-site.xml,/etc/hadoop/conf/mapred-site.xml",
              "Compression codec" : "NONE",
              "Ignore Locality" : "false",
              "Kerberos Relogin Period" : "4 hours",
              "Directory" : "/home/user/nifi_log_tbl/",
              "Conflict Resolution Strategy" : "append"
            },
            "propertyDescriptors" : {
              "Permissions umask" : {
                "displayName" : "Permissions umask",
                "identifiesControllerService" : false,
                "name" : "Permissions umask",
                "sensitive" : false
              },
              "Hadoop Configuration Resources" : {
                "displayName" : "Hadoop Configuration Resources",
                "identifiesControllerService" : false,
                "name" : "Hadoop Configuration Resources",
                "sensitive" : false
              },
              "Remote Owner" : {
                "displayName" : "Remote Owner",
                "identifiesControllerService" : false,
                "name" : "Remote Owner",
                "sensitive" : false
              },
              "Additional Classpath Resources" : {
                "displayName" : "Additional Classpath Resources",
                "identifiesControllerService" : false,
                "name" : "Additional Classpath Resources",
                "sensitive" : false
              },
              "Compression codec" : {
                "displayName" : "Compression codec",
                "identifiesControllerService" : false,
                "name" : "Compression codec",
                "sensitive" : false
              },
              "IO Buffer Size" : {
                "displayName" : "IO Buffer Size",
                "identifiesControllerService" : false,
                "name" : "IO Buffer Size",
                "sensitive" : false
              },
              "Remote Group" : {
                "displayName" : "Remote Group",
                "identifiesControllerService" : false,
                "name" : "Remote Group",
                "sensitive" : false
              },
              "Block Size" : {
                "displayName" : "Block Size",
                "identifiesControllerService" : false,
                "name" : "Block Size",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "Kerberos Keytab" : {
                "displayName" : "Kerberos Keytab",
                "identifiesControllerService" : false,
                "name" : "Kerberos Keytab",
                "sensitive" : false
              },
              "Ignore Locality" : {
                "displayName" : "Ignore Locality",
                "identifiesControllerService" : false,
                "name" : "Ignore Locality",
                "sensitive" : false
              },
              "Kerberos Principal" : {
                "displayName" : "Kerberos Principal",
                "identifiesControllerService" : false,
                "name" : "Kerberos Principal",
                "sensitive" : false
              },
              "Replication" : {
                "displayName" : "Replication",
                "identifiesControllerService" : false,
                "name" : "Replication",
                "sensitive" : false
              },
              "Kerberos Relogin Period" : {
                "displayName" : "Kerberos Relogin Period",
                "identifiesControllerService" : false,
                "name" : "Kerberos Relogin Period",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "ef4f6c39-7593-37b2-bec3-7abca510a051",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1608.0,
              "y" : 472.0
            },
            "properties" : {
              "character-set" : "windows-1252",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "4259b6f5-1b53-3f6c-8890-78251015b284",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 640.2225898928771,
              "y" : 940.9532877013728
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "10 MB",
              "generate-ff-custom-text" : "2019-03-05 11:09:33,168~INFO~Stopping GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a]\n2019-03-05 11:09:33,173~INFO~Stopping processor: class org.apache.nifi.processors.standard.GenerateFlowFile\n2019-03-05 11:09:33,176~INFO~Stopped scheduling GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a] to run\n2019-03-05 11:09:35,174~INFO~Saved flow controller org.apache.nifi.controller.FlowController@5b96fb5b // Another save pending = false\n2019-03-05 11:09:49,188~INFO~Starting GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a]\n2019-03-05 11:09:49,198~INFO~Scheduled GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a] to run with 1 threads\n2019-03-05 11:09:49,211~INFO~LogMessage[id=086a126c-100a-1169-2e18-511e64101b2c] myapp-nameInitial load pyspark module completed for table 'xyz'\n2019-03-05 11:09:49,211~WARN~LogMessage[id=100a1169-126c-186a-b336-15f0e534547b] myapp-nameIncreemental load takes more than 12 mins to complete\n2019-03-05 11:09:51,366~INFO~Saved flow controller org.apache.nifi.controller.FlowController@5b96fb5b // Another save pending = false\n2019-03-05 11:09:53,979~INFO~Created new Provenance Event Writers for events starting with ID 27687\n2019-03-05 11:09:54,312~INFO~Index Writer for .\\provenance_repository\\index-1538577925627 has been returned to Index Manager and is no longer in use. Closing Index Writer\n2019-03-05 11:09:54,373~INFO~Successfully merged 16 journal files (9 records) into single Provenance Log File .\\provenance_repository\\27678.prov in 733 milliseconds\n2019-03-05 11:09:54,377~INFO~Successfully Rolled over Provenance Event file containing 39104445 records. In the past 5 minutes, 9 events have been written to the Provenance Repository, totaling 2.94 KB\n2019-03-05 11:09:57,062~ERROR~PutEmail[id=100a116c-126c-186a-6b4f-f68702eb4f48] Failed to send email for StandardFlowFileRecord[uuid=496f5f77-60c2-423b-ba14-667c4a93a90a,claim=,offset=0,name=493636922161500,size=0]: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials s6sm11466226pgi.56 - gsmtp\n; routing to failure: javax.mail.AuthenticationFailedException: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials s6sm11466226pgi.56 - gsmtp\n\njavax.mail.AuthenticationFailedException: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials s6sm11466226pgi.56 - gsmtp\n\n\tat com.sun.mail.smtp.SMTPTransport$Authenticator.authenticate(SMTPTransport.java:826)\n\tat com.sun.mail.smtp.SMTPTransport.authenticate(SMTPTransport.java:761)\n\tat com.sun.mail.smtp.SMTPTransport.protocolConnect(SMTPTransport.java:685)\n\tat javax.mail.Service.connect(Service.java:317)\n\tat javax.mail.Service.connect(Service.java:176)\n\tat javax.mail.Service.connect(Service.java:125)\n\tat javax.mail.Transport.send0(Transport.java:194)\n\tat javax.mail.Transport.send(Transport.java:124)\n\tat org.apache.nifi.processors.standard.PutEmail.send(PutEmail.java:537)\n\tat org.apache.nifi.processors.standard.PutEmail.onTrigger(PutEmail.java:391)\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1165)\n\tat org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:203)\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:117)\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\n\tat java.lang.Thread.run(Thread.java:748)\n2019-03-05 11:10:18,656~INFO~Stopping GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a]\n2019-03-05 11:10:18,661~INFO~Stopping processor: class org.apache.nifi.processors.standard.GenerateFlowFile\n2019-03-05 11:10:18,667~INFO~Stopped scheduling GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a] to run\n2019-03-05 11:10:20,853~INFO~Saved flow controller org.apache.nifi.controller.FlowController@5b96fb5b // Another save pending = false\n2019-03-05 11:10:24,456~INFO~Created new Provenance Event Writers for events starting with ID 27688\n2019-03-05 11:10:24,656~INFO~Index Writer for .\\provenance_repository\\index-1538577925627 has been returned to Index Manager and is no longer in use. Closing Index Writer\n2019-03-05 11:10:24,705~INFO~Successfully merged 16 journal files (1 records) into single Provenance Log File .\\provenance_repository\\27687.prov in 603 milliseconds\n2019-03-05 11:10:24,709~INFO~Successfully Rolled over Provenance Event file containing 2 records. In the past 5 minutes, 10 events have been written to the Provenance Repository, totaling 3.26 KB\n2019-03-05 11:10:41,383~INFO~Starting GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a]\n2019-03-05 11:10:41,391~INFO~Scheduled GenerateFlowFile[id=086a126d-100a-1169-a5ab-20546bda1d7a] to run with 1 threads\n2019-03-05 11:10:41,402~WARN~LogMessage[id=100a1169-126c-186a-b336-15f0e534547b] myapp-nameIncreemental load takes more than 12 mins to complete\n2019-03-05 11:10:41,402~INFO~LogMessage[id=086a126c-100a-1169-2e18-511e64101b2c] myapp-nameInitial load pyspark module completed for table 'xyz'\n2019-03-05 11:10:43,379~INFO~Saved flow controller org.apache.nifi.controller.FlowController@5b96fb5b // Another save pending = false\n2019-03-05 11:10:48,866~ERROR~PutEmail[id=100a116c-126c-186a-6b4f-f68702eb4f48] Failed to send email for StandardFlowFileRecord[uuid=9121df76-8a25-402a-b443-ac1d2cfd00a2,claim=,offset=0,name=493689116969500,size=0]: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials m20sm16726550pfj.142 - gsmtp\n; routing to failure: javax.mail.AuthenticationFailedException: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials m20sm16726550pfj.142 - gsmtp\n\njavax.mail.AuthenticationFailedException: 535-5.7.8 Username and Password not accepted. Learn more at\n535 5.7.8  https://support.google.com/mail/?p=BadCredentials m20sm16726550pfj.142 - gsmtp\n\n\tat com.sun.mail.smtp.SMTPTransport$Authenticator.authenticate(SMTPTransport.java:826)\n\tat com.sun.mail.smtp.SMTPTransport.authenticate(SMTPTransport.java:761)\n\tat com.sun.mail.smtp.SMTPTransport.protocolConnect(SMTPTransport.java:685)\n\tat javax.mail.Service.connect(Service.java:317)\n\tat javax.mail.Service.connect(Service.java:176)\n\tat javax.mail.Service.connect(Service.java:125)\n\tat javax.mail.Transport.send0(Transport.java:194)\n\tat javax.mail.Transport.send(Transport.java:124)\n\tat org.apache.nifi.processors.standard.PutEmail.send(PutEmail.java:537)\n\tat org.apache.nifi.processors.standard.PutEmail.onTrigger(PutEmail.java:391)\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1165)\n\tat org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:203)\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:117)\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\n\tat java.lang.Thread.run(Thread.java:748)\n2019-03-05 11:10:54,854~INFO~Created new Provenance Event Writers for events starting with ID 27698\n2019-03-05 11:10:55,227~INFO~Index Writer for .\\provenance_repository\\index-1538577925627 has been returned to Index Manager and is no longer in use. Closing Index Writer\n2019-03-05 11:10:55,536~INFO~Successfully merged 16 journal files (10 records) into single Provenance Log File .\\provenance_repository\\27688.prov in 857 milliseconds\n2019-03-05 11:10:55,542~INFO~Successfully Rolled over Provenance Event file containing 6 records. In the past 5 minutes, 20 events have been written to the Provenance Repository, totaling 6.53 KB\n2019-03-05 11:11:09,187~INFO~org.wali.MinimalLockingWriteAheadLog@67fda9fb checkpointed with 99 Records and 0 Swap Files in 227 milliseconds (Stop-the-world time = 53 milliseconds, Clear Edit Logs time = 117 millis), max Transaction ID 34781\n2019-03-05 11:11:16,036~INFO~Initiating checkpoint of FlowFile Repository\n2019-03-05 11:11:16,544~INFO~Checkpointed Write-Ahead Log with 5381 Records and 0 Swap Files in 501 milliseconds (Stop-the-world time = 134 milliseconds), max Transaction ID 41842\n2019-03-05 11:11:16,549~INFO~Successfully checkpointed FlowFile Repository with 5381 records in 506 milliseconds\n2019-03-05 11:13:09,395~INFO~org.wali.MinimalLockingWriteAheadLog@67fda9fb checkpointed with 99 Records and 0 Swap Files in 203 milliseconds (Stop-the-world time = 49 milliseconds, Clear Edit Logs time = 96 millis), max Transaction ID 34781\n2019-03-05 11:13:16,559~INFO~Initiating checkpoint of FlowFile Repository\n2019-03-05 11:13:16,567~INFO~Successfully checkpointed FlowFile Repository with 5381 records in 0 milliseconds\n2019-03-05 11:15:09,632~INFO~org.wali.MinimalLockingWriteAheadLog@67fda9fb checkpointed with 99 Records and 0 Swap Files in 228 milliseconds (Stop-the-world time = 52 milliseconds, Clear Edit Logs time = 104 millis), max Transaction ID 34781\n2019-03-05 11:15:16,582~INFO~Initiating checkpoint of FlowFile Repository\n2019-03-05 11:15:16,582~INFO~Successfully checkpointed FlowFile Repository with 5381 records in 0 milliseconds",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1000000 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "fcd03b66-c815-3144-9da7-f60915b38c17",
            "name" : "ExecuteStreamCommand",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1088.8228340335024,
              "y" : 1937.9131119201231
            },
            "properties" : {
              "argumentsStrategy" : "Command Arguments Property",
              "Max Attribute Length" : "256",
              "Command Path" : "C:\\\\ProgramData\\\\Anaconda2\\\\envs\\\\py36\\\\python.exe",
              "Argument Delimiter" : ";",
              "Ignore STDIN" : "false",
              "Command Arguments" : "D:\\\\karthik\\\\LearningMaterials\\\\nifi\\\\blog\\\\logging\\\\python_scripts\\\\read_myapp_processors.py;${content};D:\\\\tmp\\\\nifi_data\\\\outfile"
            },
            "propertyDescriptors" : {
              "argumentsStrategy" : {
                "displayName" : "Command Arguments Strategy",
                "identifiesControllerService" : false,
                "name" : "argumentsStrategy",
                "sensitive" : false
              },
              "Max Attribute Length" : {
                "displayName" : "Max Attribute Length",
                "identifiesControllerService" : false,
                "name" : "Max Attribute Length",
                "sensitive" : false
              },
              "Command Path" : {
                "displayName" : "Command Path",
                "identifiesControllerService" : false,
                "name" : "Command Path",
                "sensitive" : false
              },
              "Working Directory" : {
                "displayName" : "Working Directory",
                "identifiesControllerService" : false,
                "name" : "Working Directory",
                "sensitive" : false
              },
              "Output Destination Attribute" : {
                "displayName" : "Output Destination Attribute",
                "identifiesControllerService" : false,
                "name" : "Output Destination Attribute",
                "sensitive" : false
              },
              "Argument Delimiter" : {
                "displayName" : "Argument Delimiter",
                "identifiesControllerService" : false,
                "name" : "Argument Delimiter",
                "sensitive" : false
              },
              "Ignore STDIN" : {
                "displayName" : "Ignore STDIN",
                "identifiesControllerService" : false,
                "name" : "Ignore STDIN",
                "sensitive" : false
              },
              "Command Arguments" : {
                "displayName" : "Command Arguments",
                "identifiesControllerService" : false,
                "name" : "Command Arguments",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "nonzero status" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "2bd3cbcf-50cc-3bff-8223-f044422dca5d",
            "name" : "ExecuteStreamCommand",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 881.920094775691,
              "y" : 474.03855503535715
            },
            "properties" : {
              "argumentsStrategy" : "Command Arguments Property",
              "Max Attribute Length" : "256",
              "Command Path" : "/opt/anaconda3/bin/python3",
              "Argument Delimiter" : ";",
              "Ignore STDIN" : "false",
              "Command Arguments" : "/Users/ashujha/pythonfiles/nifi_execute.py;e8343bc5-363b-12c7-7deb-e07c76c3add4;/Users/ashujha/Data/out"
            },
            "propertyDescriptors" : {
              "argumentsStrategy" : {
                "displayName" : "Command Arguments Strategy",
                "identifiesControllerService" : false,
                "name" : "argumentsStrategy",
                "sensitive" : false
              },
              "Max Attribute Length" : {
                "displayName" : "Max Attribute Length",
                "identifiesControllerService" : false,
                "name" : "Max Attribute Length",
                "sensitive" : false
              },
              "Command Path" : {
                "displayName" : "Command Path",
                "identifiesControllerService" : false,
                "name" : "Command Path",
                "sensitive" : false
              },
              "Working Directory" : {
                "displayName" : "Working Directory",
                "identifiesControllerService" : false,
                "name" : "Working Directory",
                "sensitive" : false
              },
              "Output Destination Attribute" : {
                "displayName" : "Output Destination Attribute",
                "identifiesControllerService" : false,
                "name" : "Output Destination Attribute",
                "sensitive" : false
              },
              "Argument Delimiter" : {
                "displayName" : "Argument Delimiter",
                "identifiesControllerService" : false,
                "name" : "Argument Delimiter",
                "sensitive" : false
              },
              "Ignore STDIN" : {
                "displayName" : "Ignore STDIN",
                "identifiesControllerService" : false,
                "name" : "Ignore STDIN",
                "sensitive" : false
              },
              "Command Arguments" : {
                "displayName" : "Command Arguments",
                "identifiesControllerService" : false,
                "name" : "Command Arguments",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4e645534-d181-36fc-98fd-b7fe12f0769c",
            "identifier" : "48a014ec-f853-387e-a95f-032d0428ae69",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 614.0971260256899,
              "y" : 1939.8059793517637
            },
            "properties" : {
              "character-set" : "windows-1252",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "cd1ad84a-e8b3-3361-92c1-f656c06cb39c",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 400.0,
            "y" : 88.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n\"created_at\" : \"${now()}\",\n\"id_store\" : ${random():mod(5):toNumber():plus(1)},\n\"event_type\" : \"store capacity\",\n\"id_transaction\" : \"${random():toString()}\",\n\"id_product\" : ${random():mod(1000):toNumber()},\n\"value_product\" : ${now():toNumber()}\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "e04d3a42-0654-3612-859c-974979c2b466",
          "name" : "LookupRecord_SimpleKV",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 976.0,
            "y" : 96.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-matched-unmatched",
            "result-record-path" : "/city",
            "record-writer" : "58a8eb1f-6e8d-37c7-bbdc-1be3a4462eb7",
            "record-reader" : "69b379d3-d9d7-3287-94af-46c2f995fb62",
            "lookup-service" : "759d5b5a-5f53-3cbf-98b5-19129d3655b3",
            "record-update-strategy" : "use-property",
            "key" : "/id_store"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "891d5d11-9bb6-3bf3-824c-a78bbbf39560",
          "name" : "MergeContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1544.0,
            "y" : 96.0
          },
          "properties" : {
            "Keep Path" : "false",
            "Merge Strategy" : "Bin-Packing Algorithm",
            "Attribute Strategy" : "Keep Only Common Attributes",
            "Compression Level" : "1",
            "Maximum Number of Entries" : "1000",
            "Minimum Group Size" : "0 B",
            "Maximum number of Bins" : "5",
            "Tar Modified Time" : "${file.lastModifiedTime}",
            "Delimiter Strategy" : "Filename",
            "Merge Format" : "Binary Concatenation",
            "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
            "Minimum Number of Entries" : "1"
          },
          "propertyDescriptors" : {
            "Keep Path" : {
              "displayName" : "Keep Path",
              "identifiesControllerService" : false,
              "name" : "Keep Path",
              "sensitive" : false
            },
            "Maximum Group Size" : {
              "displayName" : "Maximum Group Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Group Size",
              "sensitive" : false
            },
            "Merge Strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "Merge Strategy",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Maximum Number of Entries" : {
              "displayName" : "Maximum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Maximum Number of Entries",
              "sensitive" : false
            },
            "Minimum Group Size" : {
              "displayName" : "Minimum Group Size",
              "identifiesControllerService" : false,
              "name" : "Minimum Group Size",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "Tar Modified Time" : {
              "displayName" : "Tar Modified Time",
              "identifiesControllerService" : false,
              "name" : "Tar Modified Time",
              "sensitive" : false
            },
            "Delimiter Strategy" : {
              "displayName" : "Delimiter Strategy",
              "identifiesControllerService" : false,
              "name" : "Delimiter Strategy",
              "sensitive" : false
            },
            "Merge Format" : {
              "displayName" : "Merge Format",
              "identifiesControllerService" : false,
              "name" : "Merge Format",
              "sensitive" : false
            },
            "Footer File" : {
              "displayName" : "Footer",
              "identifiesControllerService" : false,
              "name" : "Footer File",
              "sensitive" : false
            },
            "Max Bin Age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "Max Bin Age",
              "sensitive" : false
            },
            "Demarcator File" : {
              "displayName" : "Demarcator",
              "identifiesControllerService" : false,
              "name" : "Demarcator File",
              "sensitive" : false
            },
            "Correlation Attribute Name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Correlation Attribute Name",
              "sensitive" : false
            },
            "Header File" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "Header File",
              "sensitive" : false
            },
            "mergecontent-metadata-strategy" : {
              "displayName" : "Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "mergecontent-metadata-strategy",
              "sensitive" : false
            },
            "Minimum Number of Entries" : {
              "displayName" : "Minimum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Minimum Number of Entries",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "connection_failure", "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-solr-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e4fba87b-e1e3-35d5-aced-38f1c3200fe1",
          "identifier" : "ae4a17f6-dd6b-3e2d-8fb1-17cbe61b9c34",
          "name" : "PutSolrContentStream",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1552.0,
            "y" : 344.0
          },
          "properties" : {
            "Solr Socket Timeout" : "10 seconds",
            "ZooKeeper Connection Timeout" : "10 seconds",
            "Solr Maximum Connections" : "10",
            "ZooKeeper Client Timeout" : "10 seconds",
            "Solr Maximum Connections Per Host" : "5",
            "Solr Connection Timeout" : "10 seconds",
            "Solr Location" : "localhost",
            "Content Stream Path" : "/update/json/docs",
            "Solr Type" : "Standard",
            "Content-Type" : "application/json",
            "Commit Within" : "5000"
          },
          "propertyDescriptors" : {
            "Solr Socket Timeout" : {
              "displayName" : "Solr Socket Timeout",
              "identifiesControllerService" : false,
              "name" : "Solr Socket Timeout",
              "sensitive" : false
            },
            "ZooKeeper Connection Timeout" : {
              "displayName" : "ZooKeeper Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "ZooKeeper Connection Timeout",
              "sensitive" : false
            },
            "Solr Maximum Connections" : {
              "displayName" : "Solr Maximum Connections",
              "identifiesControllerService" : false,
              "name" : "Solr Maximum Connections",
              "sensitive" : false
            },
            "ZooKeeper Client Timeout" : {
              "displayName" : "ZooKeeper Client Timeout",
              "identifiesControllerService" : false,
              "name" : "ZooKeeper Client Timeout",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Solr Maximum Connections Per Host" : {
              "displayName" : "Solr Maximum Connections Per Host",
              "identifiesControllerService" : false,
              "name" : "Solr Maximum Connections Per Host",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "Solr Connection Timeout" : {
              "displayName" : "Solr Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Solr Connection Timeout",
              "sensitive" : false
            },
            "Collection" : {
              "displayName" : "Collection",
              "identifiesControllerService" : false,
              "name" : "Collection",
              "sensitive" : false
            },
            "Solr Location" : {
              "displayName" : "Solr Location",
              "identifiesControllerService" : false,
              "name" : "Solr Location",
              "sensitive" : false
            },
            "Content Stream Path" : {
              "displayName" : "Content Stream Path",
              "identifiesControllerService" : false,
              "name" : "Content Stream Path",
              "sensitive" : false
            },
            "Solr Type" : {
              "displayName" : "Solr Type",
              "identifiesControllerService" : false,
              "name" : "Solr Type",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "Commit Within" : {
              "displayName" : "Commit Within",
              "identifiesControllerService" : false,
              "name" : "Commit Within",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.solr.PutSolrContentStream",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}