ProjectB/Truck.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "0edbdd31-8154-3a68-8d70-cbb0a6e72972",
          "name" : "Avro Writer - HWX SR Registry - HWX Content Encode",
          "properties" : {
            "compression-format" : "NONE",
            "Schema Write Strategy" : "hwx-content-encoded-schema",
            "schema-name" : "${schema.name}",
            "cache-size" : "1000",
            "schema-registry" : "ab5ed492-0239-3633-ad65-6406f1aadb91",
            "schema-access-strategy" : "schema-name",
            "encoder-pool-size" : "32",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "cache-size",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "encoder-pool-size" : {
              "displayName" : "Encoder Pool Size",
              "identifiesControllerService" : false,
              "name" : "encoder-pool-size",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-hwx-schema-registry-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "ab5ed492-0239-3633-ad65-6406f1aadb91",
          "name" : "HWX Schema Registry",
          "properties" : {
            "cache-expiration" : "1 hour",
            "cache-size" : "1000",
            "url" : "http://connected-dp3.field.hortonworks.com:7788/api/v1"
          },
          "propertyDescriptors" : {
            "cache-expiration" : {
              "displayName" : "Cache Expiration",
              "identifiesControllerService" : false,
              "name" : "cache-expiration",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "ssl-context-service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl-context-service",
              "sensitive" : false
            },
            "cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "cache-size",
              "sensitive" : false
            },
            "url" : {
              "displayName" : "Schema Registry URL",
              "identifiesControllerService" : false,
              "name" : "url",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry"
        }, {
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "07901e50-653c-3195-b558-95b3e03d59cf",
          "name" : "Enrich-  ReverseGeoCodeLookupService",
          "properties" : {
            "googleApiKey" : "AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk",
            "Script Engine" : "Groovy",
            "Script Body" : "import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\n\n\nclass GroovyLookupService implements LookupService<String> {\n\n   def apiKey\n   def log\n    \n   @Override\n    Optional<String> lookup(Map<String,String> coords) {\n      def lat = coords['lat']\n      def lng = coords['lng']\n      def fmt_addr = (new groovy.json.JsonSlurper()).parseText(\n         new URL(\"https://maps.googleapis.com/maps/api/geocode/json?latlng=$lat,$lng&key=${apiKey}\").text)\n         .results[0]?.formatted_address\n      Optional.ofNullable(fmt_addr?.toString())\n    }\n\n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    Set<String> getRequiredKeys() {\n      return ['lat','lng'] as Set<String>\n    }\n\n    void setLogger(logger) {\n       log = logger\n    }\n\n    void onEnabled(context) {\n        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -> k.name == 'googleApiKey'}?.key\n        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext context) throws InitializationException {\n\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n        return null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n        return null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return null\n    }\n\n    @Override\n    String getIdentifier() {\n        return null\n    }\n}\n\nlookupService = new GroovyLookupService()"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "sensitive" : false
            },
            "googleApiKey" : {
              "displayName" : "googleApiKey",
              "identifiesControllerService" : false,
              "name" : "googleApiKey",
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.lookup.script.ScriptedLookupService"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "757194fa-889a-3930-8565-fd42878c623b",
          "name" : "CSV Writer - HWX SR Registry",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "false",
            "Value Separator" : "|",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "schema-name",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-registry" : "ab5ed492-0239-3633-ad65-6406f1aadb91",
            "schema-access-strategy" : "schema-name",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "true"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "cfade92e-6c77-3617-a37d-e182e85947ab",
          "name" : "JSON Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-registry" : "ab5ed492-0239-3633-ad65-6406f1aadb91",
            "schema-access-strategy" : "schema-name",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "8a94057d-7725-333d-8a78-d460c1690f2b",
          "name" : "CSV Reader - HWX SR Registry",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Value Separator" : "|",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-registry" : "ab5ed492-0239-3633-ad65-6406f1aadb91",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-name",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "funnels" : [ ],
        "identifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "height" : 424.1869812011719,
          "identifier" : "f11564c4-fb4a-3d10-935d-0f2d6be0f1ec",
          "label" : "1. Nifi ingest  Trucking CSV Events with kafka headers \nthat contains schema name which is a pointer to \nschema in HWX Schema Registry.. \n \n2. Nifi extracts the schema name from kafka header\nand fetches schema from the HWX Schema Registry \nto perform record based processing including\nfiltering, routing and enrichment\n \n3. These CSV records are then enriched and converted\ninto Avro Records and send to a Kafka Topic. \nWhen publishing to Kafka Topic, Nifi will look up \nthe schema associated with the kafka topic in HWX SR \nand encode the Avro binary with HWX schema encoding \nso that SAM can work with the data. \n",
          "position" : {
            "x" : 524.3957360811107,
            "y" : 129.68245556282648
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 535.7506103515625
        } ],
        "name" : "IOT Truck",
        "outputPorts" : [ ],
        "position" : {
          "x" : 512.0,
          "y" : 1224.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "id" : "96b417ec-ede2-3138-9f89-96c0c1f6cf72",
              "name" : "Truck Fleet Sensor Streams",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "2405408d-a14b-3909-a703-08116ff15470",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "id" : "2510f4ea-6d91-33ec-b2fe-a7bae637de71",
              "name" : "Truck Fleet Sensor Streams",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1093.175353824603,
              "y" : 787.6484330171636
            }, {
              "x" : 1097.0997314453125,
              "y" : 804.115966796875
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "id" : "4dbfe125-02f5-3c57-b218-fa5dab395e6b",
              "name" : "Speed Events",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "06471418-8503-38e8-b3b2-30b51135da8a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "id" : "eae413af-bfe0-3e44-8b39-bb806059c3df",
              "name" : "Speed Enriched Streams",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1306.585205078125,
              "y" : 804.9893798828125
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "id" : "e99b7fc0-dc7a-3d56-babe-931265c9520e",
              "name" : "Geo-Events",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "b65c4f1e-b541-3086-87a8-fc3965230875",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "id" : "364fbf4d-dfd9-3a46-964d-70096ffbbb86",
              "name" : "Geo Enriched Streams",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ ],
          "groupIdentifier" : "52d79020-3eb6-356a-9d50-40c8fab079c5",
          "identifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
          "inputPorts" : [ ],
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "height" : 87.2624397277832,
            "identifier" : "3b8d7fac-e922-3ed2-9377-76ec209def8d",
            "label" : "Parse, Route, and \nEnrich the Data",
            "position" : {
              "x" : 677.1420108890154,
              "y" : 611.5015052215506
            },
            "style" : {
              "font-size" : "24px"
            },
            "width" : 218.87269592285156
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "height" : 86.7586898803711,
            "identifier" : "2990cf33-f5ff-3b2e-819e-2990ebe6cf68",
            "label" : "Serialize CSV into Avro by fetching  Schema \nassociated with kafka topic from the HWX Schema REgistry.",
            "position" : {
              "x" : 448.944694187682,
              "y" : 1232.6931984855723
            },
            "style" : {
              "font-size" : "24px"
            },
            "width" : 670.8236083984375
          } ],
          "name" : "IOT Trucking Fleet - Data Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : 590.6238163548765,
            "y" : 578.7395053697347
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "6d9603e1-cad5-3594-aa87-c3de4d5f2d2c",
                "name" : "Kafka-Truck-Events-Avro-SAM",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "8542af8d-8fdb-34f6-9dc6-8d0ee5400daf",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "e99b7fc0-dc7a-3d56-babe-931265c9520e",
                "name" : "Geo-Events",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "320ed164-92ac-3eb9-bcaf-25d3fa6aa7cf",
                "name" : "Kafka-Truck-Speed-Events-Avro-SAM",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "9d7f8d49-b4d1-3cf3-9081-bd6b731582fb",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "4dbfe125-02f5-3c57-b218-fa5dab395e6b",
                "name" : "Speed Events",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "57f4b26c-f31b-3538-9ba8-fe946e7be426",
                "name" : "Kafka-Truck-Speed-Events-JSON-Spark-Streaming",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "2e241a83-1740-3bc2-be5f-5b2e985bca97",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "4dbfe125-02f5-3c57-b218-fa5dab395e6b",
                "name" : "Speed Events",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "5af47f01-6f53-36cb-b26d-2215702879cf",
                "name" : "Kafka-Truck-Events-JSON-Spark-Streaming",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "a0c7b3c6-b3ed-3800-af78-4b6a72bb658c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
                "id" : "e99b7fc0-dc7a-3d56-babe-931265c9520e",
                "name" : "Geo-Events",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "funnels" : [ ],
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "4dbfe125-02f5-3c57-b218-fa5dab395e6b",
              "name" : "Speed Events",
              "position" : {
                "x" : 362.20532244357037,
                "y" : 359.64215833697904
              },
              "type" : "INPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "e99b7fc0-dc7a-3d56-babe-931265c9520e",
              "name" : "Geo-Events",
              "position" : {
                "x" : 358.525055109586,
                "y" : -0.8543931766928381
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Publish Enriched Streams Kafka Syndication Services",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1003.6760335917052,
              "y" : 863.9685305101505
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "5af47f01-6f53-36cb-b26d-2215702879cf",
              "name" : "Kafka-Truck-Events-JSON-Spark-Streaming",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 822.8361241879184,
                "y" : 55.816064257227936
              },
              "properties" : {
                "compression.type" : "none",
                "ack.wait.time" : "5 secs",
                "use-transactions" : "false",
                "record-writer" : "cfade92e-6c77-3617-a37d-e182e85947ab",
                "acks" : "0",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667,connected-dp5.field.hortonworks.com:6667,connected-dp6.field.hortonworks.com:6667,connected-dp7.field.hortonworks.com:6667",
                "security.protocol" : "PLAINTEXT",
                "max.request.size" : "1 MB",
                "max.block.ms" : "5 sec",
                "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                "topic" : "syndicate-geo-event-json",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "client.id" : "nifi-syndicate-geo-json"
              },
              "propertyDescriptors" : {
                "compression.type" : {
                  "displayName" : "Compression Type",
                  "identifiesControllerService" : false,
                  "name" : "compression.type",
                  "sensitive" : false
                },
                "ack.wait.time" : {
                  "displayName" : "Acknowledgment Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "ack.wait.time",
                  "sensitive" : false
                },
                "use-transactions" : {
                  "displayName" : "Use Transactions",
                  "identifiesControllerService" : false,
                  "name" : "use-transactions",
                  "sensitive" : false
                },
                "attribute-name-regex" : {
                  "displayName" : "Attributes to Send as Headers (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "attribute-name-regex",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "acks" : {
                  "displayName" : "Delivery Guarantee",
                  "identifiesControllerService" : false,
                  "name" : "acks",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max.request.size" : {
                  "displayName" : "Max Request Size",
                  "identifiesControllerService" : false,
                  "name" : "max.request.size",
                  "sensitive" : false
                },
                "partition" : {
                  "displayName" : "Partition",
                  "identifiesControllerService" : false,
                  "name" : "partition",
                  "sensitive" : false
                },
                "message-key-field" : {
                  "displayName" : "Message Key Field",
                  "identifiesControllerService" : false,
                  "name" : "message-key-field",
                  "sensitive" : false
                },
                "max.block.ms" : {
                  "displayName" : "Max Metadata Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "max.block.ms",
                  "sensitive" : false
                },
                "partitioner.class" : {
                  "displayName" : "Partitioner class",
                  "identifiesControllerService" : false,
                  "name" : "partitioner.class",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "transactional-id-prefix" : {
                  "displayName" : "Transactional Id Prefix",
                  "identifiesControllerService" : false,
                  "name" : "transactional-id-prefix",
                  "sensitive" : false
                },
                "client.id" : {
                  "displayName" : "client.id",
                  "identifiesControllerService" : false,
                  "name" : "client.id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "57f4b26c-f31b-3538-9ba8-fe946e7be426",
              "name" : "Kafka-Truck-Speed-Events-JSON-Spark-Streaming",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 837.8489999283115,
                "y" : 450.7888135215612
              },
              "properties" : {
                "compression.type" : "none",
                "ack.wait.time" : "5 secs",
                "use-transactions" : "false",
                "record-writer" : "cfade92e-6c77-3617-a37d-e182e85947ab",
                "acks" : "0",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667,connected-dp5.field.hortonworks.com:6667,connected-dp6.field.hortonworks.com:6667,connected-dp7.field.hortonworks.com:6667",
                "security.protocol" : "PLAINTEXT",
                "max.request.size" : "1 MB",
                "max.block.ms" : "5 sec",
                "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                "topic" : "syndicate-speed-event-json",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "client.id" : "nifi-syndicate-speed-json"
              },
              "propertyDescriptors" : {
                "compression.type" : {
                  "displayName" : "Compression Type",
                  "identifiesControllerService" : false,
                  "name" : "compression.type",
                  "sensitive" : false
                },
                "ack.wait.time" : {
                  "displayName" : "Acknowledgment Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "ack.wait.time",
                  "sensitive" : false
                },
                "use-transactions" : {
                  "displayName" : "Use Transactions",
                  "identifiesControllerService" : false,
                  "name" : "use-transactions",
                  "sensitive" : false
                },
                "attribute-name-regex" : {
                  "displayName" : "Attributes to Send as Headers (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "attribute-name-regex",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "acks" : {
                  "displayName" : "Delivery Guarantee",
                  "identifiesControllerService" : false,
                  "name" : "acks",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max.request.size" : {
                  "displayName" : "Max Request Size",
                  "identifiesControllerService" : false,
                  "name" : "max.request.size",
                  "sensitive" : false
                },
                "partition" : {
                  "displayName" : "Partition",
                  "identifiesControllerService" : false,
                  "name" : "partition",
                  "sensitive" : false
                },
                "message-key-field" : {
                  "displayName" : "Message Key Field",
                  "identifiesControllerService" : false,
                  "name" : "message-key-field",
                  "sensitive" : false
                },
                "max.block.ms" : {
                  "displayName" : "Max Metadata Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "max.block.ms",
                  "sensitive" : false
                },
                "partitioner.class" : {
                  "displayName" : "Partitioner class",
                  "identifiesControllerService" : false,
                  "name" : "partitioner.class",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "transactional-id-prefix" : {
                  "displayName" : "Transactional Id Prefix",
                  "identifiesControllerService" : false,
                  "name" : "transactional-id-prefix",
                  "sensitive" : false
                },
                "client.id" : {
                  "displayName" : "client.id",
                  "identifiesControllerService" : false,
                  "name" : "client.id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "320ed164-92ac-3eb9-bcaf-25d3fa6aa7cf",
              "name" : "Kafka-Truck-Speed-Events-Avro-SAM",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 828.8540483975025,
                "y" : 250.12061069710307
              },
              "properties" : {
                "compression.type" : "none",
                "ack.wait.time" : "5 secs",
                "use-transactions" : "true",
                "record-writer" : "0edbdd31-8154-3a68-8d70-cbb0a6e72972",
                "acks" : "all",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667,connected-dp5.field.hortonworks.com:6667,connected-dp6.field.hortonworks.com:6667,connected-dp7.field.hortonworks.com:6667",
                "security.protocol" : "PLAINTEXT",
                "max.request.size" : "1 MB",
                "max.block.ms" : "5 sec",
                "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                "topic" : "syndicate-speed-event-avro",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "client.id" : "nifi-syndicate-speed-avro"
              },
              "propertyDescriptors" : {
                "compression.type" : {
                  "displayName" : "Compression Type",
                  "identifiesControllerService" : false,
                  "name" : "compression.type",
                  "sensitive" : false
                },
                "ack.wait.time" : {
                  "displayName" : "Acknowledgment Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "ack.wait.time",
                  "sensitive" : false
                },
                "use-transactions" : {
                  "displayName" : "Use Transactions",
                  "identifiesControllerService" : false,
                  "name" : "use-transactions",
                  "sensitive" : false
                },
                "attribute-name-regex" : {
                  "displayName" : "Attributes to Send as Headers (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "attribute-name-regex",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "acks" : {
                  "displayName" : "Delivery Guarantee",
                  "identifiesControllerService" : false,
                  "name" : "acks",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max.request.size" : {
                  "displayName" : "Max Request Size",
                  "identifiesControllerService" : false,
                  "name" : "max.request.size",
                  "sensitive" : false
                },
                "partition" : {
                  "displayName" : "Partition",
                  "identifiesControllerService" : false,
                  "name" : "partition",
                  "sensitive" : false
                },
                "message-key-field" : {
                  "displayName" : "Message Key Field",
                  "identifiesControllerService" : false,
                  "name" : "message-key-field",
                  "sensitive" : false
                },
                "max.block.ms" : {
                  "displayName" : "Max Metadata Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "max.block.ms",
                  "sensitive" : false
                },
                "partitioner.class" : {
                  "displayName" : "Partitioner class",
                  "identifiesControllerService" : false,
                  "name" : "partitioner.class",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "transactional-id-prefix" : {
                  "displayName" : "Transactional Id Prefix",
                  "identifiesControllerService" : false,
                  "name" : "transactional-id-prefix",
                  "sensitive" : false
                },
                "client.id" : {
                  "displayName" : "client.id",
                  "identifiesControllerService" : false,
                  "name" : "client.id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "ab111c39-38a1-3736-bcc4-953000a9dcf8",
              "identifier" : "6d9603e1-cad5-3594-aa87-c3de4d5f2d2c",
              "name" : "Kafka-Truck-Events-Avro-SAM",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 829.921360905704,
                "y" : -155.73970344199415
              },
              "properties" : {
                "compression.type" : "none",
                "ack.wait.time" : "5 secs",
                "use-transactions" : "true",
                "record-writer" : "0edbdd31-8154-3a68-8d70-cbb0a6e72972",
                "acks" : "all",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667,connected-dp5.field.hortonworks.com:6667,connected-dp6.field.hortonworks.com:6667,connected-dp7.field.hortonworks.com:6667",
                "security.protocol" : "PLAINTEXT",
                "max.request.size" : "1 MB",
                "max.block.ms" : "5 sec",
                "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                "topic" : "syndicate-geo-event-avro",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "client.id" : "nifi-syndicate-geo-avro"
              },
              "propertyDescriptors" : {
                "compression.type" : {
                  "displayName" : "Compression Type",
                  "identifiesControllerService" : false,
                  "name" : "compression.type",
                  "sensitive" : false
                },
                "ack.wait.time" : {
                  "displayName" : "Acknowledgment Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "ack.wait.time",
                  "sensitive" : false
                },
                "use-transactions" : {
                  "displayName" : "Use Transactions",
                  "identifiesControllerService" : false,
                  "name" : "use-transactions",
                  "sensitive" : false
                },
                "attribute-name-regex" : {
                  "displayName" : "Attributes to Send as Headers (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "attribute-name-regex",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "acks" : {
                  "displayName" : "Delivery Guarantee",
                  "identifiesControllerService" : false,
                  "name" : "acks",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max.request.size" : {
                  "displayName" : "Max Request Size",
                  "identifiesControllerService" : false,
                  "name" : "max.request.size",
                  "sensitive" : false
                },
                "partition" : {
                  "displayName" : "Partition",
                  "identifiesControllerService" : false,
                  "name" : "partition",
                  "sensitive" : false
                },
                "message-key-field" : {
                  "displayName" : "Message Key Field",
                  "identifiesControllerService" : false,
                  "name" : "message-key-field",
                  "sensitive" : false
                },
                "max.block.ms" : {
                  "displayName" : "Max Metadata Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "max.block.ms",
                  "sensitive" : false
                },
                "partitioner.class" : {
                  "displayName" : "Partitioner class",
                  "identifiesControllerService" : false,
                  "name" : "partitioner.class",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "transactional-id-prefix" : {
                  "displayName" : "Transactional Id Prefix",
                  "identifiesControllerService" : false,
                  "name" : "transactional-id-prefix",
                  "sensitive" : false
                },
                "client.id" : {
                  "displayName" : "client.id",
                  "identifiesControllerService" : false,
                  "name" : "client.id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "e7bfe694-a1a3-32fb-9a7a-ab7430ac2a47",
                "name" : "Route Telemetry Events",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "81536bb8-a645-3918-b8f7-38bd9be002bd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "96b417ec-ede2-3138-9f89-96c0c1f6cf72",
                "name" : "Truck Fleet Sensor Streams",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "b9dbb466-7adf-3181-9ce5-9e282359177d",
                "name" : "Specify Schema",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "a2265ccd-51eb-3d21-9967-b2bedba833d3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "truck_geo_event" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "e7bfe694-a1a3-32fb-9a7a-ab7430ac2a47",
                "name" : "Route Telemetry Events",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e",
                "name" : "ReverseGeoLookup",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "224b239a-4c92-396e-b76b-a6000661a9a5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "b9dbb466-7adf-3181-9ce5-9e282359177d",
                "name" : "Specify Schema",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "364fbf4d-dfd9-3a46-964d-70096ffbbb86",
                "name" : "Geo Enriched Streams",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "51962fc5-6768-385c-a91a-fffaf0b636a7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e",
                "name" : "ReverseGeoLookup",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "eae413af-bfe0-3e44-8b39-bb806059c3df",
                "name" : "Speed Enriched Streams",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "b6d09fdb-e203-370a-bc3c-2f567a3cc1b9",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "4d9542a5-0d4f-308b-b72e-43371a6c2829",
                "name" : "Specify Schema",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "4d9542a5-0d4f-308b-b72e-43371a6c2829",
                "name" : "Specify Schema",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "cac74460-8095-37c4-8edf-511d2ccc5daa",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "truck_speed_event" ],
              "source" : {
                "comments" : "",
                "groupId" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
                "id" : "e7bfe694-a1a3-32fb-9a7a-ab7430ac2a47",
                "name" : "Route Telemetry Events",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "funnels" : [ ],
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "96b417ec-ede2-3138-9f89-96c0c1f6cf72",
              "name" : "Truck Fleet Sensor Streams",
              "position" : {
                "x" : 1278.0852972487808,
                "y" : 390.1481996819724
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Route, Transform and Enrich",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "364fbf4d-dfd9-3a46-964d-70096ffbbb86",
              "name" : "Geo Enriched Streams",
              "position" : {
                "x" : 1054.0852972487808,
                "y" : 1227.1482301995507
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "eae413af-bfe0-3e44-8b39-bb806059c3df",
              "name" : "Speed Enriched Streams",
              "position" : {
                "x" : 1575.0852972487808,
                "y" : 1218.1482301995507
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1005.6033849950011,
              "y" : 569.3951690202704
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "b9dbb466-7adf-3181-9ce5-9e282359177d",
              "name" : "Specify Schema",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1000.5769121052078,
                "y" : 742.1326478033814
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "schema.name" : "truck_events_avro"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "schema.name" : {
                  "displayName" : "schema.name",
                  "identifiesControllerService" : false,
                  "name" : "schema.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "4d9542a5-0d4f-308b-b72e-43371a6c2829",
              "name" : "Specify Schema",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1514.9817281477158,
                "y" : 729.4647037046028
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "schema.name" : "truck_speed_events_avro"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "schema.name" : {
                  "displayName" : "schema.name",
                  "identifiesControllerService" : false,
                  "name" : "schema.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e",
              "name" : "ReverseGeoLookup",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1006.0852857448386,
                "y" : 972.688521571574
              },
              "properties" : {
                "result-contents" : "insert-entire-record",
                "routing-strategy" : "route-to-success",
                "lng" : "/longitude",
                "result-record-path" : "/geoAddress",
                "record-writer" : "757194fa-889a-3930-8565-fd42878c623b",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "lookup-service" : "07901e50-653c-3195-b558-95b3e03d59cf",
                "record-update-strategy" : "use-property",
                "lat" : "/latitude"
              },
              "propertyDescriptors" : {
                "result-contents" : {
                  "displayName" : "Record Result Contents",
                  "identifiesControllerService" : false,
                  "name" : "result-contents",
                  "sensitive" : false
                },
                "routing-strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "routing-strategy",
                  "sensitive" : false
                },
                "lng" : {
                  "displayName" : "lng",
                  "identifiesControllerService" : false,
                  "name" : "lng",
                  "sensitive" : false
                },
                "result-record-path" : {
                  "displayName" : "Result RecordPath",
                  "identifiesControllerService" : false,
                  "name" : "result-record-path",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "lookup-service" : {
                  "displayName" : "Lookup Service",
                  "identifiesControllerService" : true,
                  "name" : "lookup-service",
                  "sensitive" : false
                },
                "record-update-strategy" : {
                  "displayName" : "Record Update Strategy",
                  "identifiesControllerService" : false,
                  "name" : "record-update-strategy",
                  "sensitive" : false
                },
                "lat" : {
                  "displayName" : "lat",
                  "identifiesControllerService" : false,
                  "name" : "lat",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.LookupRecord",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "original", "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "860f7135-b367-34e2-a7b8-7928ac7bf089",
              "identifier" : "e7bfe694-a1a3-32fb-9a7a-ab7430ac2a47",
              "name" : "Route Telemetry Events",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1224.0038717554926,
                "y" : 508.4203950037886
              },
              "properties" : {
                "cache-schema" : "false",
                "truck_speed_event" : "SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'",
                "record-writer" : "757194fa-889a-3930-8565-fd42878c623b",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "include-zero-record-flowfiles" : "false",
                "truck_geo_event" : "SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"
              },
              "propertyDescriptors" : {
                "cache-schema" : {
                  "displayName" : "Cache Schema",
                  "identifiesControllerService" : false,
                  "name" : "cache-schema",
                  "sensitive" : false
                },
                "truck_speed_event" : {
                  "displayName" : "truck_speed_event",
                  "identifiesControllerService" : false,
                  "name" : "truck_speed_event",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "include-zero-record-flowfiles" : {
                  "displayName" : "Include Zero Record FlowFiles",
                  "identifiesControllerService" : false,
                  "name" : "include-zero-record-flowfiles",
                  "sensitive" : false
                },
                "truck_geo_event" : {
                  "displayName" : "truck_geo_event",
                  "identifiesControllerService" : false,
                  "name" : "truck_geo_event",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.QueryRecord",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "2510f4ea-6d91-33ec-b2fe-a7bae637de71",
                "name" : "Truck Fleet Sensor Streams",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "4fb66265-2fde-396a-9cde-c2dc6c0d29de",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "38fc0aae-308d-342e-801c-a8cd37f617fb",
                "name" : "US Central Truck Fleet - Kafka Gateway",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "2510f4ea-6d91-33ec-b2fe-a7bae637de71",
                "name" : "Truck Fleet Sensor Streams",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "e4515513-c2a7-3521-8ebc-b924578c4069",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "a5b0310c-da23-35aa-be3f-0a2fda13af07",
                "name" : "US East Truck Fleet - Kafka Gateway",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "2510f4ea-6d91-33ec-b2fe-a7bae637de71",
                "name" : "Truck Fleet Sensor Streams",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "4072bad7-639c-3c5a-bb25-d30cf2ac1c87",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
                "id" : "cf60e866-fb58-380a-ad20-ac51a731b779",
                "name" : "US West Truck Fleet - Kafka Gateway",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "funnels" : [ ],
            "groupIdentifier" : "daa3d424-17f2-3281-ae76-e27b41351dbb",
            "identifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
            "inputPorts" : [ ],
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "height" : 194.44070434570312,
              "identifier" : "41f13326-62a2-359d-9dab-b277145ecc10",
              "label" : "Upstream app is sending CSV events with schema name in Kafka Message Header.\n \nUse ConsumeKafkaRecord do the following\n1. Grab the schema name from Kafka Header and store in Attribute called schema.name\n2. Use the schema name to look up the Schema in HWX SR\n3. Use the schema from HWX SR to convert to ProcessRecords\n4. Route events by event source (speed or geo) using SQL\n",
              "position" : {
                "x" : 978.7102249561312,
                "y" : 95.14911026771847
              },
              "style" : {
                "font-size" : "22px"
              },
              "width" : 916.2188110351562
            } ],
            "name" : "Acquire Events from Kafka IOT Gateways",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "2510f4ea-6d91-33ec-b2fe-a7bae637de71",
              "name" : "Truck Fleet Sensor Streams",
              "position" : {
                "x" : 1378.7101833265508,
                "y" : 616.1647067211195
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1005.0147909870611,
              "y" : 303.6945000912142
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "parse.failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "a5b0310c-da23-35aa-be3f-0a2fda13af07",
              "name" : "US East Truck Fleet - Kafka Gateway",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1729.683349609377,
                "y" : 342.8782943512781
              },
              "properties" : {
                "header-name-regex" : "schema.*",
                "max.poll.records" : "10000",
                "record-writer" : "757194fa-889a-3930-8565-fd42878c623b",
                "group.id" : "nifi-truck-sensors-east",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667",
                "topic_type" : "names",
                "security.protocol" : "PLAINTEXT",
                "max-uncommit-offset-wait" : "1 secs",
                "honor-transactions" : "true",
                "topic" : "gateway-east-raw-sensors",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "auto.offset.reset" : "latest"
              },
              "propertyDescriptors" : {
                "header-name-regex" : {
                  "displayName" : "Headers to Add as Attributes (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "header-name-regex",
                  "sensitive" : false
                },
                "max.poll.records" : {
                  "displayName" : "Max Poll Records",
                  "identifiesControllerService" : false,
                  "name" : "max.poll.records",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "group.id" : {
                  "displayName" : "Group ID",
                  "identifiesControllerService" : false,
                  "name" : "group.id",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "topic_type" : {
                  "displayName" : "Topic Name Format",
                  "identifiesControllerService" : false,
                  "name" : "topic_type",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max-uncommit-offset-wait" : {
                  "displayName" : "Max Uncommitted Time",
                  "identifiesControllerService" : false,
                  "name" : "max-uncommit-offset-wait",
                  "sensitive" : false
                },
                "honor-transactions" : {
                  "displayName" : "Honor Transactions",
                  "identifiesControllerService" : false,
                  "name" : "honor-transactions",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name(s)",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "auto.offset.reset" : {
                  "displayName" : "Offset Reset",
                  "identifiesControllerService" : false,
                  "name" : "auto.offset.reset",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "parse.failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "38fc0aae-308d-342e-801c-a8cd37f617fb",
              "name" : "US Central Truck Fleet - Kafka Gateway",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1331.683349609377,
                "y" : 343.8782943512781
              },
              "properties" : {
                "header-name-regex" : "schema.*",
                "max.poll.records" : "10000",
                "record-writer" : "757194fa-889a-3930-8565-fd42878c623b",
                "group.id" : "nifi-truck-sensors-central",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667",
                "topic_type" : "names",
                "security.protocol" : "PLAINTEXT",
                "max-uncommit-offset-wait" : "1 secs",
                "honor-transactions" : "true",
                "topic" : "gateway-central-raw-sensors",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "auto.offset.reset" : "latest"
              },
              "propertyDescriptors" : {
                "header-name-regex" : {
                  "displayName" : "Headers to Add as Attributes (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "header-name-regex",
                  "sensitive" : false
                },
                "max.poll.records" : {
                  "displayName" : "Max Poll Records",
                  "identifiesControllerService" : false,
                  "name" : "max.poll.records",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "group.id" : {
                  "displayName" : "Group ID",
                  "identifiesControllerService" : false,
                  "name" : "group.id",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "topic_type" : {
                  "displayName" : "Topic Name Format",
                  "identifiesControllerService" : false,
                  "name" : "topic_type",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max-uncommit-offset-wait" : {
                  "displayName" : "Max Uncommitted Time",
                  "identifiesControllerService" : false,
                  "name" : "max-uncommit-offset-wait",
                  "sensitive" : false
                },
                "honor-transactions" : {
                  "displayName" : "Honor Transactions",
                  "identifiesControllerService" : false,
                  "name" : "honor-transactions",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name(s)",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "auto.offset.reset" : {
                  "displayName" : "Offset Reset",
                  "identifiesControllerService" : false,
                  "name" : "auto.offset.reset",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "parse.failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-kafka-1-0-nar",
                "group" : "org.apache.nifi",
                "version" : "1.11.4"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "8ece3d94-d60e-3446-86f3-69a369c48b26",
              "identifier" : "cf60e866-fb58-380a-ad20-ac51a731b779",
              "name" : "US West Truck Fleet - Kafka Gateway",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 948.683349609377,
                "y" : 343.8782943512781
              },
              "properties" : {
                "header-name-regex" : "schema.*",
                "max.poll.records" : "10000",
                "record-writer" : "757194fa-889a-3930-8565-fd42878c623b",
                "group.id" : "nifi-truck-sensors-west",
                "bootstrap.servers" : "connected-dp4.field.hortonworks.com:6667",
                "topic_type" : "names",
                "security.protocol" : "PLAINTEXT",
                "max-uncommit-offset-wait" : "1 secs",
                "honor-transactions" : "true",
                "topic" : "gateway-west-raw-sensors",
                "record-reader" : "8a94057d-7725-333d-8a78-d460c1690f2b",
                "message-header-encoding" : "UTF-8",
                "auto.offset.reset" : "latest"
              },
              "propertyDescriptors" : {
                "header-name-regex" : {
                  "displayName" : "Headers to Add as Attributes (Regex)",
                  "identifiesControllerService" : false,
                  "name" : "header-name-regex",
                  "sensitive" : false
                },
                "max.poll.records" : {
                  "displayName" : "Max Poll Records",
                  "identifiesControllerService" : false,
                  "name" : "max.poll.records",
                  "sensitive" : false
                },
                "record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "record-writer",
                  "sensitive" : false
                },
                "group.id" : {
                  "displayName" : "Group ID",
                  "identifiesControllerService" : false,
                  "name" : "group.id",
                  "sensitive" : false
                },
                "bootstrap.servers" : {
                  "displayName" : "Kafka Brokers",
                  "identifiesControllerService" : false,
                  "name" : "bootstrap.servers",
                  "sensitive" : false
                },
                "topic_type" : {
                  "displayName" : "Topic Name Format",
                  "identifiesControllerService" : false,
                  "name" : "topic_type",
                  "sensitive" : false
                },
                "sasl.kerberos.principal" : {
                  "displayName" : "Kerberos Principal",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.principal",
                  "sensitive" : false
                },
                "sasl.kerberos.service.name" : {
                  "displayName" : "Kerberos Service Name",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.service.name",
                  "sensitive" : false
                },
                "security.protocol" : {
                  "displayName" : "Security Protocol",
                  "identifiesControllerService" : false,
                  "name" : "security.protocol",
                  "sensitive" : false
                },
                "kerberos-credentials-service" : {
                  "displayName" : "Kerberos Credentials Service",
                  "identifiesControllerService" : true,
                  "name" : "kerberos-credentials-service",
                  "sensitive" : false
                },
                "ssl.context.service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "ssl.context.service",
                  "sensitive" : false
                },
                "max-uncommit-offset-wait" : {
                  "displayName" : "Max Uncommitted Time",
                  "identifiesControllerService" : false,
                  "name" : "max-uncommit-offset-wait",
                  "sensitive" : false
                },
                "honor-transactions" : {
                  "displayName" : "Honor Transactions",
                  "identifiesControllerService" : false,
                  "name" : "honor-transactions",
                  "sensitive" : false
                },
                "sasl.kerberos.keytab" : {
                  "displayName" : "Kerberos Keytab",
                  "identifiesControllerService" : false,
                  "name" : "sasl.kerberos.keytab",
                  "sensitive" : false
                },
                "topic" : {
                  "displayName" : "Topic Name(s)",
                  "identifiesControllerService" : false,
                  "name" : "topic",
                  "sensitive" : false
                },
                "record-reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "record-reader",
                  "sensitive" : false
                },
                "message-header-encoding" : {
                  "displayName" : "Message Header Encoding",
                  "identifiesControllerService" : false,
                  "name" : "message-header-encoding",
                  "sensitive" : false
                },
                "auto.offset.reset" : {
                  "displayName" : "Offset Reset",
                  "identifiesControllerService" : false,
                  "name" : "auto.offset.reset",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}